{% extends 'base.html' %}
{% block content %}
{% load static %}

		<div class="wrapper" style="background-image: url('{% static 'images/bg-registration-form-2.jpg' %}');">
			<div class="inner">
				<div class="image-holder">
					<p1><b>Dear, {{user.first_name}} {{user.last_name}}</b>, you about to to change your password</p1><br>
					<p2>Please note the new password.</p2>
				</div>
        <div class="image-holder">
          <ul>
            <li><a href="{% url 'dashboard' %}" style="background-color: red;color:white;">Dashboard</a></li>
            <li><a class="active" href="{% url 'editprofile' %}" style="background-color: white;color: black;">Edit Profile</a></li>
            <li><a href="javascript:{document.getElementById('logout').submit()}" style="background-color: red;color: white;">Logout</a>
                    <form action="{% url 'logout' %}" id="logout" method="POST" style="padding-top:0;">
                      {% csrf_token %}
                      <input type="hidden">
                    </form>
            </li>
          </ul>
    				<form action="{% url 'changepassword' %}" method="POST" style="width:100%;">
    					{% csrf_token %}
    					{% include 'alerts.html' %}
    					<h3>Change Password</h3>
              <input type="hidden" name="user_id" value="{{ user.id }}">
              <div class="form-wrapper">
    						<input type="password" placeholder="Current Password" name="current_password" class="form-control" required>
    						<i class="zmdi zmdi-lock"></i>
    					</div>

    					<div class="form-wrapper">
    						<input type="password" placeholder="New Password" name="new_password" class="form-control" id="txtPassword" required>
    						<i class="zmdi zmdi-lock"></i>
    					</div>
    					<div id="strengthMessage"></div>
    					<div class="form-wrapper">
    						<input type="password" placeholder="Confirm Password" name="confirm_password" class="form-control" required>
    						<i class="zmdi zmdi-lock"></i>
    					</div>
    					<button onclick="return giveAlert()" style="background-color: red;">Update
    						<i class="zmdi zmdi-arrow-right"></i>
    					</button>

    				</form>
        </div>

			</div>
		</div>

{% endblock %}
