

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<div class="wrapper" style="background-image: url('{% static 'images/technology-3243375_1920.jpg' %}');">
			<div class="inner" style="background-image: url('{% static 'images/bg-registration-form-2.jpg' %}');">
				

				<div style="margin:auto;padding:auto;">
          <h3 style="color: black;">User<br>Authentication system</h3>
					<a href="{% url 'login' %}"><button>Take Me In
						<i class="zmdi zmdi-arrow-right"></i>
					</button></a>
				</div>

			</div>
		</div>

